.doc{
    text-decoration: line-through;
    color: gray;
    font-size: 20px;
    margin-right: 10px;
}
.line{
    width: 700px;
    height: 2px;
    background-color: gray;
    margin-left: 310px;
    position: absolute;
    bottom: 20px;
}
.net{
    position: relative;
    font-size: 35px;
    margin-left: 90px;
    
}